<div id="tab-account-info" class="col s12">
  <div style="display:block">
    <div class="row" style="padding-left: 20px;padding-right: 40%">
      {{ form_start(account_form, {'action': path('profile_save_account'), 'method': 'POST', 'id':'profile_account_form'}) }}
      <div class="row" style="margin-top: 0rem;">
        <div class="col m12" style="padding-bottom: 0px;">
          <div class="input-field align-left">
            <i class="mdi mdi-social-person prefix"></i>
            {{ form_widget(account_form.username, {'attr': {'readonly':true}}) }}
            <label for="account_username" class="">Username</label>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 0rem;">
        <div class="col m12" style="padding-bottom: 0px;">
          <div class="input-field align-left">
            <i class="mdi mdi-communication-email prefix"></i>
            {{ form_widget(account_form.email, {'attr': {'class':'validate', 'readonly':true}}) }}
            <label for="account_email" class="">Email</label>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 0rem;">
        <div class="col m12" style="padding-bottom: 0px;">
          <div class="input-field align-left">
            <i class="mdi mdi-action-lock prefix"></i>
            {{ form_widget(account_form.plainPassword, {'attr': {'class':'validate'}}) }}
            <label for="account_password" class="">New password</label>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 0rem;">
        <div class="col m12" style="padding-bottom: 0px;">
          <div class="input-field">
            <i class="mdi mdi-action-lock prefix"></i>
            <input type="password" id="rpassword" name="rpassword" required="required" class="validate">
            <label for="rpassword" class="">Repeat password</label>
          </div>
        </div>
      </div>

      <div class="row" style="padding-right: 25px;padding-top: 20px">
        <div class="col s12">
          <button id="btn-account-save" type="submit" class="waves-effect waves-light btn btn-small">SAVE</button>
        </div>
      </div>
      {{ form_end(account_form) }}
    </div>
  </div>
</div>