<div id="test3" class="col s12" style="color: #5e5e5e;">
  <div class="row">
    <div class="col md6 s6">
      <div class="row" style="margin-top: 0px;">
        <div class="col md3 s3" style="padding-bottom: 10px;">
        <span class="right">
          <strong><b>Card Holder:</b> </strong>
        </span>
        </div>
        <div class="col md9 s9" style="padding-bottom: 10px;">
        <span id="card_holder">
          {% if card_info %}
            {{ card_info.name }}
          {% endif %}
        </span>
        </div>
      </div>
      <div class="row" style="margin-top: 0px;">
        <div class="col md3 s3" style="padding-bottom: 10px;">
        <span class="right">
          <strong>
            <b>Stored Card:</b>
          </strong>
        </span>
        </div>
        <div class="col md9 s9" style="padding-bottom: 10px;">
        <span id="card_ended">
          {% if card_info %}
            XXXX-XXXX-XXXX-{{ card_info.last4 }}
          {% else %}
            No card
          {% endif %}
        </span>
        </div>
      </div>
      <div class="row" style="margin-top: 0px;">
        <div class="col md3 s3" style="padding-bottom: 10px;">
        <span class="right">
          <strong><b>Card Type:</b> </strong>
        </span>
        </div>
        <div class="col md9 s9" style="padding-bottom: 10px;">
        <span>
          {% if card_info %}
            {{ card_info.brand }}
          {% endif %}
        </span>
        </div>
      </div>
    </div>
    <div class="col md6 s6">
      <div class="row" style="margin-top: 0px;">
        <div class="col md12 s12" style="padding-bottom: 10px;">
          <a class="btn modal-trigger" id="stripe-show-card-modal"  href="#stripe-card-modal">
            {% if card_info %}
              Update Credit Card
            {% else %}
              Add Credit Card
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <h3>Payments History:</h3>
      <table class="row">
        <thead>
          <tr>
            <th>
              Plan
            </th>
            <th>
              Date
            </th>
            <th>
              Amount
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
        {% if invoices %}
          {% for invoice in invoices %}
            <tr>
              <td>
                {% set line_first = invoice.lines.data | first %}
                {% set line_last = invoice.lines.data | last %}
                {{ line_last.plan.name }}
              </td>
              <td>
                {{ invoice.date | date('M Y') }}
              </td>
              <td>
                $ {{ (invoice.amount_due / 100) | number_format(2) }}
              </td>
              <td>
                {{ invoice.closed ? 'PAYD' : 'UNPAYD' }}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>
              No invoices found
            </td>
          </tr>
        {% endif %}
        </tbody>
      </table>
  </div>
</div>

<!-- Modal Structure -->
<div id="stripe-card-modal" class="modal modal-fixed-footer" style="width: 35%; height: 420px">
  <div class="modal-content">
    <h4>
      {% if card_info %}
        Update Credit Card
      {% else %}
        Add Credit Card
      {% endif %}
    </h4>
    <div>
      {% include 'DashboardBundle:Upgrade:Partials/_stripe_card_form.html.twig' with {'hide_btn': true} %}
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" id="stripe-modal-cancel" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</button>
    <button href="#!" id="stripe-modal-accept" class="modal-action waves-effect waves-green btn-flat ">
      <i id="stripe-modal-spiner" class="fa fa-spinner fa-spin right hide" style="margin-left: 5px;"></i>
      Accept
    </button>
  </div>
</div>
