<div id="test3" class="col s12" style="color: #5e5e5e;">

  <div class="row" style="margin-top: 0px;">
    <nav style="padding-right: 25px;color: #424242;background-color: #fff;box-shadow: 0 0px 0px rgba(0,0,0,.26)!important;padding-left: 30px;">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a id="edit-profile" style="color: #9E9E9E" class="dropdown-button" href="#!">
              <i class="mdi mdi-editor-mode-edit" style="font-size: 18px;"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row" id="edit-profile-information">
    <div class="row" style="margin-top: 0px;">
      <div class="col s3" style="padding-bottom: 10px;">
        <span class="right">
          <strong>
            <b>Billed to:</b>
          </strong>
        </span>
      </div>
      <div class="col s9" style="padding-bottom: 10px;">
        <span>
          {% if card_info %}
            XXXX-XXXX-XXXX-{{ card_info.last4 }}
          {% else %}
            No card
          {% endif %}
        </span>
      </div>
    </div>
    <div class="row" style="margin-top: 0px;">
      <div class="col s3" style="padding-bottom: 10px;">
        <span class="right">
          <strong><b>Card Type:</b> </strong>
        </span>
      </div>
      <div class="col s9" style="padding-bottom: 10px;">
        <span>
          {% if card_info %}
            {{ card_info.brand }}
          {% endif %}
        </span>
      </div>
    </div>
    <div class="row" style="margin-top: 0px;">
      <div class="col s12" style="padding-bottom: 10px;">
          <a class="btn modal-trigger"  href="#stripe-update-card-modal">
            {% if card_info %}
              Update Credit Card
            {% else %}
              Add Credit Card
            {% endif %}
          </a>
      </div>
    </div>
  </div>

  <div class="row">
      <h3>Invoices History:</h3>
      <table class="row">
        <thead>
          <tr>
            <th>
              Plan
            </th>
            <th>
              Date
            </th>
            <th>
              Prorate
            </th>
            <th>
              Amount
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
        {% if invoices %}
          {% for invoice in invoices %}
            <tr>
              <td>
                {% set line_first = invoice.lines.data | first %}
                {% set line_last = invoice.lines.data | last %}
                {{ line_last.plan.name }}
              </td>
              <td>
                {{ invoice.date | date('M Y') }}
              </td>
              <td>
                {% set prorate = invoice.amount_due - line_first.plan.amount %}
                $ {{ (prorate > 0 ? prorate / 100 : prorate * -1 / 100) | number_format(2) }}
              </td>
              <td>
                $ {{ (invoice.amount_due / 100) | number_format(2) }}
              </td>
              <td>
                {{ invoice.closed ? 'PAYD' : 'UNPAYD' }}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>
              No invoices found
            </td>
          </tr>
        {% endif %}
        </tbody>
      </table>
  </div>
</div>

<!-- Modal Structure -->
<div id="stripe-update-card-modal" class="modal">
  <div class="modal-content">
    <h4>Update Credit Card</h4>
    {% include 'DashboardBundle:Upgrade:Partials/_stripe_card_form.html.twig' with {'hide_btn': true} %}
  </div>
  <div class="modal-footer">
    <a href="#!" id="stripe-modal-cancel" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
    <a href="#!" id="stripe-modal-accept" class="modal-action waves-effect waves-green btn-flat ">Accept</a>
  </div>
</div>
