{% extends 'DashboardBundle:Common:layout.html.twig' %}

{% block title %}{% endblock title %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&amp;subset=latin,latin-ext">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link  href="{{ asset('bundles/dashboard/material/css/material-design-icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/Font-Awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/nvd3/nv.d3.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/librariesOwlCarousel/owl-carousel/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/css/realsite.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}
    
{% block body %}    

    {% block viewport %}
        <div class="page-wrapper">

            {% block north  %}
                {% include 'AppBundle:Common:Partials/_public-header.html.twig' %}
            {% endblock north %}

            {% block center %}
            <div class="main">
                <div class="container">
                    <div class="row">

                        {% block content  %}
                        <div class="content col-sm-8 col-md-9">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="property-box">
                                        <div class="property-box-image">
                                            <a href="headers-search.html#">
                                                <img src="{{ asset('bundles/dashboard/properties/1.jpg') }}" alt="">
                                                <span class="property-box-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
                                                </span>
                                            </a>
                                        </div><!-- /.property-image -->

                                        <div class="property-box-content">
                                            <div class="property-box-meta">
                                                <div class="property-box-meta-item">
                                                    <span>Baths</span>
                                                    <strong>2</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Beds</span>
                                                    <strong>4</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Garages</span>
                                                    <strong>1</strong>
                                                </div><!-- /.property-box-meta-item -->
                                            </div><!-- /.property-box-meta -->
                                        </div><!-- /.property-box-content -->

                                        <div class="property-box-bottom">
                                            <div class="property-box-price">
                                                $ 17,000
                                            </div><!-- /.property-box-price -->

                                            <a href="headers-search.html#" class="property-box-view">
                                                View Detail
                                            </a><!-- /.property-box-view -->
                                        </div><!-- /.property-box-bottom -->
                                    </div><!-- /.property-box -->
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="property-box">
                                        <div class="property-box-image">
                                            <a href="headers-search.html#">
                                                <img src="{{ asset('bundles/dashboard/properties/2.jpg') }}" alt="">
                                                <span class="property-box-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
                                                </span>
                                            </a>
                                        </div><!-- /.property-image -->

                                        <div class="property-box-content">
                                            <div class="property-box-meta">
                                                <div class="property-box-meta-item">
                                                    <span>Baths</span>
                                                    <strong>2</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Beds</span>
                                                    <strong>4</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Garages</span>
                                                    <strong>1</strong>
                                                </div><!-- /.property-box-meta-item -->
                                            </div><!-- /.property-box-meta -->
                                        </div><!-- /.property-box-content -->

                                        <div class="property-box-bottom">
                                            <div class="property-box-price">
                                                $ 17,000
                                            </div><!-- /.property-box-price -->

                                            <a href="headers-search.html#" class="property-box-view">
                                                View Detail
                                            </a><!-- /.property-box-view -->
                                        </div><!-- /.property-box-bottom -->
                                    </div><!-- /.property-box -->
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="property-box">
                                        <div class="property-box-image">
                                            <a href="headers-search.html#">
                                                <img src="{{ asset('bundles/dashboard/properties/3.jpg') }}" alt="">
                                                <span class="property-box-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
                                                </span>
                                            </a>
                                        </div><!-- /.property-image -->

                                        <div class="property-box-content">
                                            <div class="property-box-meta">
                                                <div class="property-box-meta-item">
                                                    <span>Baths</span>
                                                    <strong>2</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Beds</span>
                                                    <strong>4</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Garages</span>
                                                    <strong>1</strong>
                                                </div><!-- /.property-box-meta-item -->
                                            </div><!-- /.property-box-meta -->
                                        </div><!-- /.property-box-content -->

                                        <div class="property-box-bottom">
                                            <div class="property-box-price">
                                                $ 17,000
                                            </div><!-- /.property-box-price -->

                                            <a href="headers-search.html#" class="property-box-view">
                                                View Detail
                                            </a><!-- /.property-box-view -->
                                        </div><!-- /.property-box-bottom -->
                                    </div><!-- /.property-box -->
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="property-box">
                                        <div class="property-box-image">
                                            <a href="headers-search.html#">
                                                <img src="{{ asset('bundles/dashboard/properties/4.jpg') }}" alt="">
                                                <span class="property-box-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
                                                </span>
                                            </a>
                                        </div><!-- /.property-image -->

                                        <div class="property-box-content">
                                            <div class="property-box-meta">
                                                <div class="property-box-meta-item">
                                                    <span>Baths</span>
                                                    <strong>2</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Beds</span>
                                                    <strong>4</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Garages</span>
                                                    <strong>1</strong>
                                                </div><!-- /.property-box-meta-item -->
                                            </div><!-- /.property-box-meta -->
                                        </div><!-- /.property-box-content -->

                                        <div class="property-box-bottom">
                                            <div class="property-box-price">
                                                $ 17,000
                                            </div><!-- /.property-box-price -->

                                            <a href="headers-search.html#" class="property-box-view">
                                                View Detail
                                            </a><!-- /.property-box-view -->
                                        </div><!-- /.property-box-bottom -->
                                    </div><!-- /.property-box -->
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="property-box">
                                        <div class="property-box-image">
                                            <a href="headers-search.html#">
                                                <img src="{{ asset('bundles/dashboard/properties/5.jpg') }}" alt="">
                                                <span class="property-box-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
                                                </span>
                                            </a>
                                        </div><!-- /.property-image -->

                                        <div class="property-box-content">
                                            <div class="property-box-meta">
                                                <div class="property-box-meta-item">
                                                    <span>Baths</span>
                                                    <strong>2</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Beds</span>
                                                    <strong>4</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Garages</span>
                                                    <strong>1</strong>
                                                </div><!-- /.property-box-meta-item -->
                                            </div><!-- /.property-box-meta -->
                                        </div><!-- /.property-box-content -->

                                        <div class="property-box-bottom">
                                            <div class="property-box-price">
                                                $ 17,000
                                            </div><!-- /.property-box-price -->

                                            <a href="headers-search.html#" class="property-box-view">
                                                View Detail
                                            </a><!-- /.property-box-view -->
                                        </div><!-- /.property-box-bottom -->
                                    </div><!-- /.property-box -->
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="property-box">
                                        <div class="property-box-image">
                                            <a href="headers-search.html#">
                                                <img src="{{ asset('bundles/dashboard/properties/6.jpg') }}" alt="">
                                                <span class="property-box-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
                                                </span>
                                            </a>
                                        </div><!-- /.property-image -->

                                        <div class="property-box-content">
                                            <div class="property-box-meta">
                                                <div class="property-box-meta-item">
                                                    <span>Baths</span>
                                                    <strong>2</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Beds</span>
                                                    <strong>4</strong>
                                                </div><!-- /.property-box-meta-item -->

                                                <div class="property-box-meta-item">
                                                    <span>Garages</span>
                                                    <strong>1</strong>
                                                </div><!-- /.property-box-meta-item -->
                                            </div><!-- /.property-box-meta -->
                                        </div><!-- /.property-box-content -->

                                        <div class="property-box-bottom">
                                            <div class="property-box-price">
                                                $ 17,000
                                            </div><!-- /.property-box-price -->

                                            <a href="headers-search.html#" class="property-box-view">
                                                View Detail
                                            </a><!-- /.property-box-view -->
                                        </div><!-- /.property-box-bottom -->
                                    </div><!-- /.property-box -->
                                </div>
                            </div><!-- /.row -->

                            <div class="promotion">
                                <div class="promotion-inner">
                                    <div class="promotion-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div><!-- /.promotion-icon -->

                                    <div class="promotion-text">
                                        <a href="headers-search.html#">Download our app</a> and get notifications for new properties in<br>
                                        <strong>New York, Brooklyn</strong>
                                    </div><!-- /.promotion-text -->
                                </div><!-- /.promotion-inner -->
                            </div><!-- /.promotion -->

                            <div class="features row">
                                <div class="feature col-sm-12 col-md-4">
                                    <h3><i class="fa fa-globe"></i> Front End Submission</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu vulputate tellus. Proin eget quam odio. Maecenas nec ultrices urna. Mauris nec tempus libero.</p>
                                </div>

                                <div class="feature col-sm-12 col-md-4">
                                    <h3><i class="fa fa-plug"></i> Versatile Header</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu vulputate tellus. Proin eget quam odio. Maecenas nec ultrices urna. Mauris nec tempus libero.</p>
                                </div>

                                <div class="feature col-sm-12 col-md-4">
                                    <h3><i class="fa fa-bar-chart"></i> Multiple Properties</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu vulputate tellus. Proin eget quam odio. Maecenas nec ultrices urna. Mauris nec tempus libero.</p>
                                </div>
                            </div><!-- /.features -->

                            <h2 class="page-header">Best Agents</h2>

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="agent-medium">
                                        <a class="agent-medium-image" href="headers-search.html#">
                                            <img src="{{ asset('bundles/dashboard/people/06.jpg') }}" alt="">
                                        </a><!-- /.agent-medium-image -->

                                        <div class="agent-medium-content">
                                            <h2 class="agent-medium-title">Caelan Sinclair</h2>
                                            <div class="agent-medium-subtitle">13 properties</div><!-- /.agent-medium-subtitle -->
                                            <hr>
                                            <ul>
                                                <li><i class="fa fa-phone"></i> 0123 123 123</li>
                                                <li><i class="fa fa-at"></i> <a href="mailto:calean@example.com">calean@example.com</a></li>
                                                <li><i class="fa fa-globe"></i> <a href="http://example.com">example.com</a></li>
                                            </ul>
                                        </div><!-- /.agent-medium-content -->
                                    </div><!-- /.agent-medium -->
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="agent-medium">
                                        <a class="agent-medium-image" href="headers-search.html#">
                                            <img src="{{ asset('bundles/dashboard/people/10.jpg') }}" alt="">
                                        </a><!-- /.agent-medium-image -->

                                        <div class="agent-medium-content">
                                            <h2 class="agent-medium-title">Derick Brice</h2>
                                            <div class="agent-medium-subtitle">13 properties</div><!-- /.agent-medium-subtitle -->
                                            <hr>
                                            <ul>
                                                <li><i class="fa fa-phone"></i> 0123 123 123</li>
                                                <li><i class="fa fa-at"></i> <a href="mailto:calean@example.com">calean@example.com</a></li>
                                                <li><i class="fa fa-globe"></i> <a href="http://example.com">example.com</a></li>
                                            </ul>
                                        </div><!-- /.agent-medium-content -->
                                    </div><!-- /.agent-medium -->
                                </div>
                            </div><!-- /.row -->

                            <h2 class="page-header">Pricing</h2>
                            <div class="pricing">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
                                        <div class="pricing-col">
                                            <div class="pricing-header">
                                                <div class="pricing-title">Basic</div><!-- /.pricing-title -->
                                                <div class="pricing-value">$ 10</div><!-- /.pricing-value -->
                                                <div class="pricing-duration">per month</div><!-- /.pricing-duration -->

                                                <a href="headers-search.html#" class="btn">Get Started</a>
                                            </div><!-- /.pricing-header -->

                                            <div class="pricing-content">
                                                <ul>
                                                    <li>10 properties</li>
                                                    <li>3 agencies</li>
                                                    <li>2 agents</li>
                                                    <li><div class="strike">SSL protocol</div></li>
                                                    <li><div class="strike">24/7 support</div></li>
                                                </ul>
                                            </div><!-- /.pricing-content -->
                                        </div><!-- /.pricing-col-->
                                    </div>

                                    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
                                        <div class="pricing-col">
                                            <div class="pricing-header">
                                                <div class="pricing-title">Standard</div><!-- /.pricing-title -->
                                                <div class="pricing-value">$ 20</div><!-- /.pricing-value -->
                                                <div class="pricing-duration">per month</div><!-- /.pricing-duration -->

                                                <a href="headers-search.html#" class="btn">Get Started</a>
                                            </div><!-- /.pricing-header -->

                                            <div class="pricing-content">
                                                <ul>
                                                    <li>50 properties</li>
                                                    <li>15 agencies</li>
                                                    <li>10 agents</li>
                                                    <li><div class="strike">SSL protocol</div></li>
                                                    <li><div class="strike">24/7 support</div></li>
                                                </ul>
                                            </div><!-- /.pricing-content -->
                                        </div><!-- /.pricing-col-->
                                    </div>

                                    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
                                        <div class="pricing-col">
                                            <div class="pricing-header">
                                                <div class="pricing-title">Premium</div><!-- /.pricing-title -->
                                                <div class="pricing-value">$ 30</div><!-- /.pricing-value -->
                                                <div class="pricing-duration">per month</div><!-- /.pricing-duration -->

                                                <a href="headers-search.html#" class="btn">Get Started</a>
                                            </div><!-- /.pricing-header -->

                                            <div class="pricing-content">
                                                <ul>
                                                    <li>100 properties</li>
                                                    <li>30 agencies</li>
                                                    <li>20 agents</li>
                                                    <li>SSL protocol</li>
                                                    <li><div class="strike">24/7 support</div></li>
                                                </ul>
                                            </div><!-- /.pricing-content -->
                                        </div><!-- /.pricing-col-->
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.pricing -->

                        </div><!-- /.content -->

                        <div class="sidebar col-sm-4 col-md-3">
                            <div class="widget">
                                <div class="widget-title">
                                    <h2>Best Agents</h2>
                                </div><!--/.widget-title -->

                                <div class="widget-content">
                                    <div class="agent-small">
                                        <div class="agent-small-inner">
                                            <div class="agent-small-image">
                                                <a href="headers-search.html#" class="agent-small-image-inner">
                                                    <img src="{{ asset('bundles/dashboard/people/06.jpg') }}" alt="">
                                                </a><!-- /.agent-small-image-inner -->
                                            </div><!-- /.agent-small-image -->

                                            <div class="agent-small-content">
                                                <h3 class="agent-small-title">
                                                    <a href="headers-search.html#">Caelan Sinclair</a>
                                                </h3>

                                                <div class="agent-small-email">
                                                    <i class="fa fa-at"></i> <a href="headers-search.html#">E-mail Address</a>
                                                </div><!-- /.agent-small-email -->

                                                <div class="agent-small-phone">
                                                    <i class="fa fa-phone"></i> 1401-123-456
                                                </div><!-- /.agent-small-phone -->
                                            </div><!-- /.agent-small-content -->
                                        </div><!-- /.agent-small-inner -->
                                    </div><!-- /.agent-small -->

                                    <div class="agent-small">
                                        <div class="agent-small-inner">
                                            <div class="agent-small-image">
                                                <a href="headers-search.html#" class="agent-small-image-inner">
                                                    <img src="{{ asset('bundles/dashboard/people/12.jpg') }}" alt="">
                                                </a><!-- /.agent-small-image-inner -->
                                            </div><!-- /.agent-small-image -->

                                            <div class="agent-small-content">
                                                <h3 class="agent-small-title">
                                                    <a href="headers-search.html#">Lee Izzy</a>
                                                </h3>

                                                <div class="agent-small-email">
                                                    <i class="fa fa-at"></i> <a href="headers-search.html#">E-mail Address</a>
                                                </div><!-- /.agent-small-email -->

                                                <div class="agent-small-phone">
                                                    <i class="fa fa-phone"></i> 1401-456-789
                                                </div><!-- /.agent-small-phone -->
                                            </div><!-- /.agent-small-content -->
                                        </div><!-- /.agent-small-inner -->
                                    </div><!-- /.agent-small -->


                                    <div class="agent-small">
                                        <div class="agent-small-inner">
                                            <div class="agent-small-image">
                                                <a href="headers-search.html#" class="agent-small-image-inner">
                                                    <img src="{{ asset('bundles/dashboard/people/10.jpg') }}" alt="">
                                                </a><!-- /.agent-small-image-inner -->
                                            </div><!-- /.agent-small-image -->

                                            <div class="agent-small-content">
                                                <h3 class="agent-small-title">
                                                    <a href="headers-search.html#">Derick Brice</a>
                                                </h3>

                                                <div class="agent-small-email">
                                                    <i class="fa fa-at"></i> <a href="headers-search.html#">E-mail Address</a>
                                                </div><!-- /.agent-small-email -->

                                                <div class="agent-small-phone">
                                                    <i class="fa fa-phone"></i> 1401-789-123
                                                </div><!-- /.agent-small-phone -->
                                            </div><!-- /.agent-small-content -->
                                        </div><!-- /.agent-small-inner -->
                                    </div><!-- /.agent-small -->
                                </div><!-- /.widget-content -->
                            </div><!-- /.widget -->

                            <div class="widget widget-primary">
                                <div class="widget-content">
                                    <form method="post" action="http://html.realsite.byaviators.com/headers-search.html?">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="E-mail address here">
                                        </div><!-- /.form-group -->

                                        <button class="btn btn-simple pull-right">Subscribe</button>
                                    </form>
                                </div><!-- /.widget-content -->
                            </div><!-- /.widget -->
                            <div class="widget">
                                <div class="widget-title">
                                    <h2>Custom Menu</h2>
                                </div><!-- /.widget-title -->

                                <div class="widget-content">
                                    <ul class="menu">
                                        <li><a href="headers-search.html#">Properties</a></li>
                                        <li><a href="headers-search.html#">Features</a></li>
                                        <li><a href="headers-search.html#">Agents</a></li>
                                        <li><a href="headers-search.html#">Blog</a></li>
                                        <li><a href="headers-search.html#">Agencies</a></li>
                                        <li><a href="headers-search.html#">Pricing</a></li>
                                        <li><a href="headers-search.html#">Contact</a></li>
                                    </ul>
                                </div><!-- /.widget-content -->
                            </div><!-- /.widget -->

                            <div class="widget widget-simple">
                                <div class="widget-title">
                                    <h2>Recent Properties</h2>
                                </div><!-- /.widget-title -->

                                <div class="widget-content">
                                    <div class="property-small">
                                        <div class="property-small-inner">
                                            <div class="property-small-image">
                                                <a href="headers-search.html#" class="property-small-image-inner">
                                                    <img src="{{ asset('bundles/dashboard/properties/3.jpg') }}" alt="">
                                                </a><!-- /.property-small-image-inner -->
                                            </div><!-- /.property-small-image -->

                                            <div class="property-small-content">
                                                <h3 class="property-small-title">
                                                    <a href="headers-search.html#">Road Drive 735</a>
                                                </h3>

                                                <ul class="property-small-location">
                                                    <li><a href="headers-search.html#">New York</a>,</li>
                                                    <li><a href="headers-search.html#">Brooklyn</a></li>
                                                </ul>

                                                <div class="property-small-price">
                                                    $ 17,000
                                                </div><!-- /.property-small-price -->
                                            </div><!-- /.property-small-content -->
                                        </div><!-- /.property-small-inner -->
                                    </div><!-- /.property-small -->

                                    <div class="property-small">
                                        <div class="property-small-inner">
                                            <div class="property-small-image">
                                                <a href="headers-search.html#" class="property-small-image-inner">
                                                    <img src="{{ asset('bundles/dashboard/properties/4.jpg') }}" alt="">
                                                </a><!-- /.property-small-image-inner -->
                                            </div><!-- /.property-small-image -->

                                            <div class="property-small-content">
                                                <h3 class="property-small-title">
                                                    <a href="headers-search.html#">5th. Hilton Ride </a>
                                                </h3>

                                                <ul class="property-small-location">
                                                    <li><a href="headers-search.html#">New York</a>,</li>
                                                    <li><a href="headers-search.html#">Harlem</a></li>
                                                </ul>

                                                <div class="property-small-price">
                                                    $ 32,500
                                                </div><!-- /.property-small-price -->
                                            </div><!-- /.property-small-content -->
                                        </div><!-- /.property-small-inner -->
                                    </div><!-- /.property-small -->

                                    <div class="property-small">
                                        <div class="property-small-inner">
                                            <div class="property-small-image">
                                                <a href="headers-search.html#" class="property-small-image-inner">
                                                    <img src="{{ asset('bundles/dashboard/properties/5.jpg') }}" alt="">
                                                </a><!-- /.property-small-image-inner -->
                                            </div><!-- /.property-small-image -->

                                            <div class="property-small-content">
                                                <h3 class="property-small-title">
                                                    <a href="headers-search.html#">Andersson Street</a>
                                                </h3>

                                                <ul class="property-small-location">
                                                    <li><a href="headers-search.html#">New York</a>,</li>
                                                    <li><a href="headers-search.html#">Manhattan</a></li>
                                                </ul>

                                                <div class="property-small-price">
                                                    $ 10,000
                                                </div><!-- /.property-small-price -->
                                            </div><!-- /.property-small-content -->
                                        </div><!-- /.property-small-inner -->
                                    </div><!-- /.property-small -->
                                </div><!-- /.widget-content -->
                            </div><!-- /.widget -->
                        </div><!-- /.sidebar -->
                    </div><!-- /.row -->
                {% endblock content  %}
                </div><!-- /.container -->
            </div><!-- /.main -->

            {% endblock center%}

            {% block south  %}
                {% include 'AppBundle:Common:Partials/_public-footer.html.twig' %}
            {% endblock south %}

        </div><!-- /.page-wrapper-->

        {% block east  %}{% endblock east %}

        {% block west  %}{% endblock west%}
    
    {% endblock viewport %}

{% endblock body%}

{% block javascripts %}{% endblock javascripts%}