{% extends 'DashboardBundle:Common:layout.html.twig' %}

{% block title %}{% endblock title %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&amp;subset=latin,latin-ext">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link  href="{{ asset('bundles/dashboard/material/css/material-design-icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/Font-Awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/libraries/nvd3/nv.d3.min.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/librariesOwlCarousel/owl-carousel/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ asset('bundles/dashboard/assets/css/realsite.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}
    
{% block body %}    

    {% block viewport %}
        <div class="page-wrapper">

            {% block north  %}
            <div class="header header-standard header-call-to-action-wrapper">
                <div class="relative">
                    <div class="blur header-background overflow-hidden"></div>

                    <div class="header-background-inner">

                        <div class="container">
                            <div class="header-inner">
                            {% block header  %}
                                {% include 'AppBundle:Common:Partials/_public-header.html.twig' %}
                            {% endblock header  %}

                            {% block banner  %}
                            {% endblock banner  %}
                            </div><!-- /.header-inner -->
                        </div><!-- /.container -->
                    </div><!-- /.header-background-inner-->
                </div><!-- /.relative -->
            </div>
            {% endblock north %}

            {% block center %}
            <div class="main">
                <div class="container">
                    <div class="row">
                        {% block content  %} {% endblock content  %}
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.main -->
            {% endblock center%}

            {% block south  %}
                {% include 'AppBundle:Common:Partials/_public-footer.html.twig' %}
            {% endblock south %}

        </div><!-- /.page-wrapper-->

        {% block east  %}{% endblock east %}

        {% block west  %}{% endblock west%}
    
    {% endblock viewport %}

{% endblock body%}

{% block javascripts %}{% endblock javascripts%}