{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
  <li>
    <a href="{{ path('contactlist_index') }}">Contacts List</a>
    <i class="mdi-navigation-chevron-right"></i>
  </li>
  <li><a href="#">Edit</a></li>
{% endblock breadcrumb %}

{% block content %}
  <style>
    /*.collection .collection-item.avatar i.circle-avatar-status {*/
      /*font-size: 18px;*/
      /*line-height: 39px;*/
      /*color: #fff;*/
      /*text-align: center;*/
    /*}*/

    /*i.circle-avatar-status.red {*/
      /*border: 3px solid pink;*/
    /*}*/

    /*i.circle-avatar-status.green {*/
      /*border: 3px solid #94fc98;*/
    /*}*/

    /*.collection .collection-item.avatar i.circle-avatar-status > span {*/
      /*font-size: 16px;*/
      /*font-style: normal;*/
    /*}*/

    /*.collection .collection-item.avatar {*/
      /*min-height: 60px;*/
    /*}*/

    /*.circle-status.red {*/
      /*position: absolute;*/
      /*width: 15px;*/
      /*height: 15px;*/
      /*overflow: hidden;*/
      /*left: 190px;*/
      /*display: inline-block;*/
      /*vertical-align: middle;*/
    /*}*/

    /*.circle-status.green {*/
      /*position: absolute;*/
      /*width: 15px;*/
      /*height: 15px;*/
      /*overflow: hidden;*/
      /*left: 15px;*/
      /*display: inline-block;*/
      /*vertical-align: middle;*/
    /*}*/

    /*.arrow-switch{*/
      /*color: #424242;*/
      /*font-size: 30px;*/
      /*background-color: #F9F9F9;*/
      /*border-radius: 4px;*/
    /*}*/

    /*.secundary-content-center{*/
       /*top: 20px !important;*/
     /*}*/

    /*.arrow-switch:hover{*/
      /*background-color: #9E9E9E;*/
    /*}*/

    /*.primary-content{*/
      /*position: absolute;*/
      /*top: 20px !important;*/
      /*left: 15px;*/
    /*}*/
    /*.circle-right{*/
      /*left: 60px !important;*/
    /*}*/

    /*.avatar-right{*/
      /*padding-left: 115px !important;*/
    /*}*/

  </style>
  <div class="card card-data-grid">
    <div class="title">
      <h5> Contacts List</h5>
      <div class="btn-group right">
        <a href="{{ path('contactlist_index') }}" class="btn btn-small waves-dark waves-effect"><i
              class="mdi mdi-hardware-keyboard-arrow-left left"></i>Back</a>
        <a id="save_action" class="btn btn-small waves-dark waves-effect"> <i class="mdi mdi-content-save left"></i>
          Save</a>
      </div>
    </div>
    <div class="content">
      <form id="formSubmit" class="form-horizontal" action="" method="post" {{ form_enctype(form) }}>
        <div class="row" style="padding-left: 20px;padding-right: 50%;margin-top: 1rem;">
          <div class="row" style="margin-top: 0rem;">
            <div class="col m12" style="padding-bottom: 15px;">
              <div class="input-field">
                {{ form_widget(form.name) }}
                <label for="property_lease_term" class="">Name</label>
              </div>
            </div>
          </div>
        </div>
        {{ form_rest(form) }}
      </form>

      <div class="row">
        <div class="col m5">
          <span><b> My Contacts</b></span>
          {{ grid(grid2, 'DashboardBundle:Grid:gridTemplateMyContactsAjax.html.twig') }}
        </div>
        <div class="col m1"></div>
        <div class="col m5">
          <span><b> Contacts</b></span>
          {{ grid(grid, 'DashboardBundle:Grid:gridTemplateContactsAjax.html.twig') }}
        </div>
      </div>

      <div class="row">
        <div class="col m2" style="padding-right: 0px">
          <i class="green circle circle-status"> <span></span></i> <b style="margin-left: 30px;"> Enable contact</b>
        </div>

        <div class="col m2">
          <i class="red circle circle-status"> <span></span></i> <b style="margin-left: 30px;"> Disable contact</b>
        </div>
      </div>

    </div>
  </div>
  <script src="{{ asset('bundles/common/js/application.js') }}" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      $('#save_action').click(function () {
        App.submit('formSubmit', '{{ path('contactlist_update', { 'id': entity.id }) }}')
      });
    });
  </script>
{% endblock content %}
