{% extends 'DashboardBundle:Common:backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Profile</a></li>
{% endblock breadcrumb%}

{% block content %}
	<div class="row">
		<div class="content col-sm-8 col-md-9">
			<h1 class="page-header">Profile</h1>
			<div class="module">
				<div class="module-content">
					<div class="agent-card">
						<div class="row">
							<div class="col-sm-12 col-md-4 mb30">
								<a href="agents-detail.html#" class="agent-card-image">
									<img src="{{ asset('bundles/dashboard/people/01.jpg') }}" alt="Avatar">
								</a><!-- /.agent-card-image -->
							</div>

							<div class="col-sm-12 col-md-3">
								<h2>Information</h2>

								<div class="agent-card-info">
									<ul>
										<li>Effectivity Real Estate</li>
										<li>Wardrobe Street 90210</li>
										<li>London, United Kingdom</li>
									</ul>

									<br>

									<ul>
										<li><i class="fa fa-phone"></i> 0123 123 123</li>
										<li><i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail address</a>
										</li>
										<li><i class="fa fa-globe"></i> <a href="http://example.com">example.com</a>
										</li>
									</ul>
								</div><!-- /.agent-card-info -->
							</div>

							<div class="col-sm-12 col-md-5 mb30">
								<h2>Contact Form</h2>

								<div class="agent-card-form">
									{#<form method="post"#}
										  {#action="http://html.realsite.byaviators.com/agents-detail.html?">#}
										{#<div class="form-group">#}
											{#<input type="text" class="form-control" placeholder="Subject">#}
										{#</div><!-- /.form-group -->#}

										{#<div class="form-group">#}
											{#<input type="email" class="form-control" placeholder="E-mail">#}
										{#</div><!-- /.form-group -->#}

										{#<div class="form-group">#}
											{#<textarea class="form-control" placeholder="Message"#}
													  {#style="overflow: hidden; word-wrap: break-word; height: 68px;"></textarea>#}
										{#</div><!-- /.form-group -->#}
									{#</form>#}
								</div><!-- /.agent-card-form -->
							</div>
						</div>
					</div><!-- /.agent-card-->
				</div><!-- /.module-content -->
			</div><!-- /.module -->

			<div class="module">
				<div class="module-content">
					<div class="agent-card">
						<div class="row">

							<div class="col-sm-12 col-md-5 mb30">
								<h2>Contact Form</h2>

								<div class="agent-card-form">
									<form method="post" action="http://html.realsite.byaviators.com/agents-detail.html?">
									<div class="form-group">
									<input type="text" class="form-control" placeholder="Subject">
									</div><!-- /.form-group -->

									<div class="form-group">
									<input type="email" class="form-control" placeholder="E-mail">
									</div><!-- /.form-group -->

									<div class="form-group">
									<textarea class="form-control" placeholder="Message"
									style="overflow: hidden; word-wrap: break-word; height: 68px;"></textarea>
									</div><!-- /.form-group -->
									</form>
								</div><!-- /.agent-card-form -->
							</div>

							<div class="col-sm-12 col-md-5 mb30">
								<h2>Contact Form</h2>

								<div class="agent-card-form">
									{#<form method="post"#}
									{#action="http://html.realsite.byaviators.com/agents-detail.html?">#}
									{#<div class="form-group">#}
									{#<input type="text" class="form-control" placeholder="Subject">#}
									{#</div><!-- /.form-group -->#}

									{#<div class="form-group">#}
									{#<input type="email" class="form-control" placeholder="E-mail">#}
									{#</div><!-- /.form-group -->#}

									{#<div class="form-group">#}
									{#<textarea class="form-control" placeholder="Message"#}
									{#style="overflow: hidden; word-wrap: break-word; height: 68px;"></textarea>#}
									{#</div><!-- /.form-group -->#}
									{#</form>#}
								</div><!-- /.agent-card-form -->
							</div>
						</div>
					</div><!-- /.agent-card-->
				</div><!-- /.module-content -->
			</div><!-- /.module -->

			<h2 class="page-header">Recent properties</h2>

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="{{ asset('bundles/dashboard/properties/1.jpg') }}" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="{{ asset('bundles/dashboard/properties/2.jpg') }}" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="{{ asset('bundles/dashboard/properties/3.jpg') }}" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.content -->

		<div class="sidebar col-sm-4 col-md-3">
			<div class="widget">
				<div class="widget-title">
					<h2>My Contacts</h2>
				</div><!--/.widget-title -->

				<div class="widget-content">
					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/02.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Caelan Sinclair</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-123-456
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->

					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/03.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Lee Izzy</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-456-789
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->

					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/04.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Derick Brice</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-789-123
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->

					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/10.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Derick Brice</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-789-123
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->

					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/12.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Derick Brice</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-789-123
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->

					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/13.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Derick Brice</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-789-123
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->
				</div><!-- /.widget-content -->
			</div><!-- /.widget -->

		</div><!-- /.sidebar -->
	</div><!-- /.row -->
{% endblock content%}


