{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Contacts</a></li>
	<li><a href="#">New</a></li>
{% endblock breadcrumb%}

{% block content %}
	<div class="card card-data-grid">
		<div class="title">
			<h5> Contacts </h5>
			<div class="btn-group right">
				<a class="btn btn-small waves-dark waves-effect"><i class="mdi mdi-hardware-keyboard-arrow-left left"></i>Back</a>
				<a id="edit_action" class="btn btn-small waves-dark waves-effect"> <i class="mdi mdi-content-save left"></i> Save</a>
				<a id="edit_action" class="btn btn-small waves-dark waves-effect"> <i class="mdi mdi-action-done left"></i> Save and Close</a>
			</div>
		</div>
		<div class="content">
			<form id="formSubmit" class="form-horizontal" action="{{ path('contact_create') }}" method="post" {{ form_enctype(form) }}>
				<div class="row" style="padding-left: 20px;padding-right: 50%;margin-top: 0rem;">
					<div class="row" style="margin-top: 0rem;">
						<div class="col m12" style="padding-bottom: 0px;">
							<div class="input-field">
								{{ form_widget(form.first_name) }}
								<label for="property_lease_term" class="">First Name</label>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 0rem;">
						<div class="col m12" style="padding-bottom: 0px;">
							<div class="input-field">
								{{ form_widget(form.last_name) }}
								<label for="property_lease_term" class="">Last Name</label>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 0rem;">
						<div class="col m12">
							<div class="input-field">
								{{ form_widget(form.email) }}
								<label for="property_lease_term" class="">Email</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}
