{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
  <li><a href="#">Upgrade</a></li>
{% endblock breadcrumb %}

{% block content %}
  <style>
  .active-plan{
    box-shadow: 0 10px 10px 0 rgba(102,187,106,0.16),0 10px 10px 0 rgba(102,187,106,0.12);
  }
  </style>
  <div class="card">
    <div class="title">
      <h5> Plans </h5>
    </div>
    <div class="content">
      <div class="row">
        {% for plan in plans %}
        <div class="col m3">
          <div {{ plan.id == current_plan.plan.id ? 'class="active-plan"' }}>
            <div class="card small">
              <div class="content" style="padding-top: 10px;padding-bottom: 10px;">
                <center class="" style="font-size: 20px"> <span style="color: #424242;">{{ plan.name | upper }}</span> </center>
              </div>
              <div class="content" style="padding-top: 10px;padding-bottom: 10px;background-color: #F0F0EE;">
                <center class="" style="font-size: 18px;color: #424242;"> <strong>${{ plan.price | number_format(2) }}</strong> <span style="color: #9E9E9E;">/ month </span></center>
              </div>
              <div class="content" style="padding-top: 15px;padding-bottom: 15px;">
                <p> Up to {{ plan.totalFlyers }} Flyers</p>
                <p> Up to {{ plan.totalEmails }} Email</p>
                <p> Up to {{ plan.totalContacts }} Contacts</p>
              </div>
              <div class="content" style="padding-top: 15px;padding-bottom: 15px;">
                {% if plan.id != current_plan.plan.id %}
                  <center>  <a class="btn" href="{{ path('upgrade_checkout', {'plan_id':plan.id}) }}"><i class="mdi mdi-editor-attach-money left"></i>BUY NOW</a> </center>
                {% else %}
                  <center>  Your current Plan </center>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
