<div class="chat">
  <div class="layer-overlay" style="position: absolute; width: 100%; height: 100%; z-index: 0; transform: scale(1); background: none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
      <g>
        <circle cx="0" cy="0" r="0" fill="rgb(53, 56, 76)"></circle>
      </g>
    </svg>
  </div>
  <div class="layer-content" style="z-index: 2; background: none;"><!-- Contacts -->
    <div class="contacts"><!-- Top Bar -->
      <div class="topbar"><a href="http://html.nkdev.info/_con/ui-buttons.html#!" class="text">Chat</a> <a
            href="http://html.nkdev.info/_con/ui-buttons.html#!" class="chat-toggle"><i
              class="mdi-navigation-close"></i></a></div><!-- /Top Bar -->
      <div class="nano has-scrollbar">
        <div class="nano-content" tabindex="0" style="right: -17px;"><span class="label">Online</span>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/02.jpg') }}"
                                 alt="Felecia Castro" class="circle photo">
            <div class="name">Felecia Castro</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="green-text fa fa-circle"></i></div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/04.jpg') }}"
                                 alt="Max Brooks" class="circle photo">
            <div class="name">Max Brooks</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="green-text fa fa-circle"></i></div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/03.jpg') }}"
                                 alt="Patsy Griffin" class="circle photo">
            <div class="name">Patsy Griffin</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="green-text fa fa-circle"></i></div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/10.jpg') }}"
                                 alt="Chloe Morgan" class="circle photo">
            <div class="name">Chloe Morgan</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="green-text fa fa-circle"></i></div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/13.jpg') }}"
                                 alt="Vernon Garrett" class="circle photo">
            <div class="name">Vernon Garrett</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="yellow-text fa fa-circle"></i></div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/16.jpg') }}"
                                 alt="Greg Mcdonalid" class="circle photo">
            <div class="name">Greg Mcdonalid</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="yellow-text fa fa-circle"></i></div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/17.png') }}"
                                 alt="Christian Jackson" class="circle photo">
            <div class="name">Christian Jackson</div>
            <div class="status">Lorem status</div>
            <div class="online"><i class="yellow-text fa fa-circle"></i></div>
          </div>
          <span class="label">Offline</span>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/18.jpg') }}"
                                 alt="Willie Kelly" class="circle photo">
            <div class="name">Willie Kelly</div>
            <div class="status">Lorem status</div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/19.jpg') }}"
                                 alt="Jenny Phillips" class="circle photo">
            <div class="name">Jenny Phillips</div>
            <div class="status">Lorem status</div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/08.jpg') }}"
                                 alt="Darren Cunningham" class="circle photo">
            <div class="name">Darren Cunningham</div>
            <div class="status">Lorem status</div>
          </div>
          <div class="user"><img src="{{ asset('bundles/dashboard/people/06.jpg') }}"
                                 alt="Sandra Cole" class="circle photo">
            <div class="name">Sandra Cole</div>
            <div class="status">Lorem status</div>
          </div>
        </div>
        <div class="nano-pane" style="display: none;">
          <div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div>
        </div>
      </div>
    </div><!-- /Contacts --><!-- Messages -->
    <div class="messages"><!-- Top Bar with back link -->
      <div class="topbar"><a href="http://html.nkdev.info/_con/ui-buttons.html#!" class="chat-toggle"><i
              class="mdi-navigation-close"></i></a> <a href="http://html.nkdev.info/_con/ui-buttons.html#!"
                                                       class="chat-back"><i
              class="mdi-hardware-keyboard-arrow-left"></i> Back</a></div><!-- /Top Bar with back link -->
      <!-- All messages list -->
      <div class="list">
        <div class="nano scroll-bottom has-scrollbar">
          <div class="nano-content" tabindex="0" style="right: -17px;">
            <div class="date">Monday, Feb 23, 8:23 pm</div>
            <div class="from-me">Hi, Felicia.<br>How are you?</div>
            <div class="clear"></div>
            <div class="from-them"><img src="{{ asset('bundles/dashboard/people/02.jpg') }}"
                                        alt="Livan Frometa" class="circle photo"> Hi! I am good!
            </div>
            <div class="clear"></div>
            <div class="from-me">Glad to see you :)<br>This long text is intended to show how the chat will
              display it.
            </div>
            <div class="clear"></div>
            <div class="from-them"><img src="{{ asset('bundles/dashboard/people/02.jpg') }}"
                                        alt="Livan Frometa" class="circle photo"> Also, we will send the longest
              word to show how it will fit in the chat window: <strong>Pneumonoultramicroscopicsilicovolcanoconiosis</strong>
            </div>
            <div class="date">Friday, Mar 10, 5:07 pm</div>
            <div class="from-me">Hi again!</div>
            <div class="clear"></div>
            <div class="from-them"><img src="{{ asset('bundles/dashboard/people/02.jpg') }}"
                                        alt="Livan Frometa" class="circle photo"> Hi! Glad to see you.
            </div>
            <div class="clear"></div>
            <div class="from-me">I want to add you in my Facebook.</div>
            <div class="clear"></div>
            <div class="from-me">Can you give me your page?</div>
            <div class="clear"></div>
            <div class="from-them"><img src="{{ asset('bundles/dashboard/people/02.jpg') }}"
                                        alt="Livan Frometa" class="circle photo"> I do not use Facebook. But you
              can follow me in Twitter.
            </div>
            <div class="clear"></div>
            <div class="from-me">It's good idea!</div>
            <div class="clear"></div>
            <div class="from-them"><img src="{{ asset('bundles/dashboard/people/02.jpg') }}"
                                        alt="Livan Frometa" class="circle photo"> You can find me here - <a
                  href="https://twitter.com/nkdevv">https://twitter.com/nkdevv</a></div>
          </div>
          <div class="nano-pane" style="display: none;">
            <div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div>
          </div>
        </div>
      </div><!-- /All messages list --><!-- Send message -->
      <div class="send">
        <form action="http://html.nkdev.info/_con/ui-buttons.html#!">
          <div class="input-field"><input id="chat-message" type="text" name="chat-message"></div>
          <button class="btn waves-effect z-depth-0"><i class="mdi-content-send"></i></button>
        </form>
      </div><!-- /Send message -->
    </div><!-- /Messages -->
  </div>
</div><!-- /Chat -->