<aside class="yaybar yay-shrink yay-hide-to-small yay-gestures">
  <div class="top">
    <div><!-- Sidebar toggle --><a href="http://html.nkdev.info/_con/ui-buttons.html#" class="yay-toggle">
        <div class="burg1"></div>
        <div class="burg2"></div>
        <div class="burg3"></div>
      </a>
      <a href="http://html.nkdev.info/_con/ui-buttons.html#!" class="brand-logo">
        <img src="" alt="LOGO">
      </a>
    </div>
  </div>
  <div class="nano has-scrollbar">
    <div class="nano-content" tabindex="0" style="right: -17px;">
      <ul>
        <li class="yay-user-info">
          <a href="{{path('profile_index')}}">
            {% if app.user.profile.photoId is defined and app.user.profile.photoId %}
              <img class="profile-photo-thumb" src="{{ app.user.profile.photoId | cloudinary_url({'format':'png', 'crop':'scale', 'radius':'max', 'width':250, 'height':250}) }}">
            {% else %}
              <img class="profile-photo-thumb circle" src="{{ asset('bundles/dashboard/images/profile-icon.png') }}">
            {% endif %}
            <h3 class="yay-user-info-name">{{ app.user.profile.fullName is defined ? app.user.profile.fullName : app.user.username }}</h3>
            <div class="yay-user-location"><i class="fa fa-map-marker"></i> Las Vegas, NV</div>
          </a>
        </li>
        <li>
          <a href="{{path('dashboard_index')}}" class="waves-effect waves-blue">
            <i class="fa fa-home"></i> Dashboard
          </a>
        </li>
        <li>
          <a href="{{path('properties_index')}}" class="waves-effect waves-blue">
            <i class="fa fa-building-o"></i> Properties
          </a>
        </li>
        <li>
          <a href="{{path('flyer_index')}}" class="waves-effect waves-blue"><i
              class="fa fa-magic"></i> Flayers
          </a>
        </li>
        <li>
          <a href="{{path('template_index')}}" class="waves-effect waves-blue">
            <i class="mdi mdi-av-web"></i> Templates
            <span class="badge new">new</span>
          </a>
        </li>
        <li>
          <a href="{{ path('contact_index') }}" class="waves-effect waves-blue"><i
              class="fa fa-users"></i> Contacts
          </a>
        </li>
        <li>
          <a href="{{ path('contactlist_index') }}" class="waves-effect waves-blue"><i
                class="mdi mdi-file-folder-shared"></i> Contacts List
          </a>
        </li>
        <li>
          <a href="{{ path('activity_index') }}" class="waves-effect waves-blue"><i
                    class="mdi mdi-editor-insert-chart"></i> Activity
          </a>
        </li>
        <li>
          <a href="{{ path('upgrade_index') }}" class="waves-effect waves-blue">
            <i class="fa fa-arrow-circle-o-up"></i> Upgrade Plan
          </a>
        </li>
      </ul>
    </div>
    <div class="nano-pane">
      <div class="nano-slider" style="height: 302px; transform: translate(0px, 0px);"></div>
    </div>
  </div>
</aside><!-- /Yay Sidebar -->