<div class="row" style="margin-top: 0px;">
  <div class="col m12">

    <div class="card">
      <div class="title">
        <h5> Images </h5>
      </div>
      <div class="content">

        <div class="row">
          <div class="col m12">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input multiple name="file" class="cloudinary-fileupload" data-cloudinary-field="image_upload" type="file">
              </div>
            </div>
          </div>
        </div>

        <div class="row hide" id="card_upload">
          <div class="col m3">
            <div class="card small">
              <div class="card-image">
                <img src="{{ asset('bundles/dashboard/properties/4.jpg') }}">
              </div>
              <div class="content" style="padding: 0px;">
              </div>
              <div class="progress" style="height: 3px;margin-top: 0px;margin-bottom: 0px;">
                <div class="indeterminate"></div>
              </div>
              <div class="card-action hide" style="padding-top: 5px;"><a href="#!" class="blue-text right" style="margin-right: 0px;">ELIMINAR</a></div>
            </div>
          </div>
        </div>

        <div class="gallery-image-box">

        </div>

        <div class="row">
          <div class="col m12">
            <div class="row photoswipe-gallery isotope mt-0" data-pswp-uid="1">

                <div class="col m3">
                  <div class="card small">
                    <div class="card-image" style="height: auto;">
                      <a class="col s12 m12 l12 item" href="{{ asset('bundles/dashboard/properties/4.jpg') }}" data-size="2880x1800"
                         data-med="{{ asset('bundles/dashboard/properties/4.jpg') }}"
                         data-med-size="1440x900" style="padding-right: 0px;padding-bottom: 0px;">
                        <img src="{{ asset('bundles/dashboard/properties/4.jpg') }}" alt="">
                      </a>
                    </div>
                    <div class="content" style="padding: 0px;">
                    </div>
                    <div class="progress" style="height: 3px;margin-top: 0px;margin-bottom: 0px;">
                      <div class="indeterminate"></div>
                    </div>
                    <div class="card-action" style="">
                      <a href="#!" class="blue-text" style="">ELIMINAR</a>
                    </div>
                  </div>
                </div>



              {#<a class="col s12 m6 l3 item" href="{{ asset('bundles/dashboard/properties/4.jpg') }}" data-size="2880x1800"#}
                     {#data-med="{{ asset('bundles/dashboard/properties/4.jpg') }}"#}
                     {#data-med-size="1440x900">#}
                {#<img src="{{ asset('bundles/dashboard/properties/4.jpg') }}" alt="">#}
              {#</a>#}

              {% if property.getTempPhotos() %}
                {% for photo in property.getTempPhotos().toArray() %}
                  <a class="col s12 m6 l3 item" href="{{ photo }}" data-size="2880x1800"
                     data-med="{{ photo }}"
                     data-med-size="1440x900">
                    <img src="{{ photo }}" alt="">
                  </a>
                {% endfor %}
              {% endif %}
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col m12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m12">
    <div class="card">
      <div class="title">
        <h5> Files </h5>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
</div>