<div class="row" id="main-info">
  <div class="col m12">
    {{ form_start(property_form, {'action': path('properties_save'), 'method': 'POST', 'id':'property_form'}) }}
      <div class="card">
        <div class="title">
          <h5> Basic Information </h5>
          <div class="btn-group right">
            <a href="#!" class="waves-effect waves-dark btn btn-small">
              <i class="mdi mdi-navigation-chevron-left left"></i> Back
            </a>
            <button type="submit" id="btn-save" class="waves-effect waves-dark btn btn-small">
              <i class="mdi mdi-content-save left"></i> Save
            </button>
          </div>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 5px;">
          <div class="input-field">
            {{ form_widget(property_form.name, {'attr': {'id': 'name'}}) }}
            <label for="name" class="">Property Name</label>
          </div>
          <div class="input-field">
            {{ form_widget(property_form.description, {'attr': {'id': 'description', 'class':'materialize-textarea'}}) }}
            <label for="description">Property Description</label>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="title">
          <h5> Attributes </h5>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 15px;">
          <div class="row" style="margin-top: 5px;">
            <div class="col m6">
              <div class="input-field">
                {{ form_widget(property_form.bedrooms, {'attr': {'id': 'bedrooms'}}) }}
                <label for="bedrooms" class="">Rooms</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.bathrooms, {'attr': {'id': 'bathrooms'}}) }}
                <label for="input_baths" class="">Baths</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.parking_spaces, {'attr': {'id': 'parking_spaces'}}) }}
                <label for="parking_spaces" class="">Parking</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.unit_size, {'attr': {'id': 'unit_size'}}) }}
                <label for="unit_size" class="">Unit Size</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.year_built, {'attr': {'id': 'year_built'}}) }}
                <label for="year_built" class="">Year Built</label>
              </div>
              <div class="input-field" style="margin-top: 3px;">
                {{ form_widget(property_form.list_price, {'attr': {'id': 'list_price'}}) }}
                <label for="list_price" class="">Price</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.lease_term, {'attr': {'id': 'lease_term'}}) }}
                <label for="lease_term" class="">Lease Term</label>
              </div>
            </div>
            <div class="col m6">
              <div class="input-field">
                {{ form_widget(property_form.type)}}
                {#<select class="select2">#}
                  {#<option value="AK">Apartament</option>#}
                  {#<option value="HI">Condo</option>#}
                  {#<option value="HI">House</option>#}
                  {#<option value="HI">Villa</option>#}
                {#</select>#}
              </div>
              <div class="input-field">
                {{ form_widget(property_form.address, {'attr': {'id': 'address'}}) }}
                <label for="address" class="">Address</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.unit, {'attr': {'id': 'unit'}}) }}
                <label for="unit" class="">Unit</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.city, {'attr': {'id': 'city'}}) }}
                <label for="city" class="">City</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.state, {'attr': {'id': 'state'}}) }}
                <label for="state" class="">State</label>
              </div>
              <div class="input-field">
                {{ form_widget(property_form.country, {'attr': {'id': 'country'}}) }}
                <label for="country" class="">Country</label>
              </div>
              <div class="input-field">
                <div class="row" style="margin-top: 0px;">
                  <div class="col m6">
                    <div class="input-field" style="margin-top: 0px !important;">
                      {{ form_widget(property_form.postal_code, {'attr': {'id': 'postal_code'}}) }}
                      <label for="postal_code" class="">Postal Code</label>
                    </div>
                  </div>
                  <div class="col m6">
                    <p style="margin-top: 5px;">
                      {{ form_widget(property_form.for_rent, {'attr': {'id': 'for_rent', 'class':'filled-in'}}) }}
                      <label for="property_for_rent">Is it for rent?</label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="title">
          <h5> Amenities and Features </h5>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 5px;">
          <div class="row" style="margin-top: 0px">
            <div class="col m6">
              <div class="input-field">
                {{ form_widget(property_form.amenities, {'attr': {'id': 'amenities', 'class':'materialize-textarea'}}) }}
                <label for="amenities">Amenities</label>
              </div>
            </div>
            <div class="col m6">
              <div class="input-field">
                {{ form_widget(property_form.features, {'attr': {'id': 'features', 'class':'materialize-textarea'}}) }}
                <label for="features">Features</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="title">
          <h5> Location </h5>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 15px;">
          <div class="row" style="margin-top: 5px">
            <div class="col m12" style="padding-bottom: 5px;">
              <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
              <div id="map-canvas"></div>
            </div>
          </div>
          <div class="row" style="margin-top: 5px">
            <div class="col m6">
              <div class="input-field">
                <i class="mdi-maps-place prefix"></i>
                {{ form_widget(property_form.lat, {'attr': {'id': 'lat'}}) }}
                <label for="lat" class="">Latitude</label>
              </div>
            </div>
            <div class="col m6">
              <div class="input-field">
                <i class="mdi-maps-place prefix"></i>
                {{ form_widget(property_form.lng, {'attr': {'id': 'lng'}}) }}
                <label for="lng" class="">Lontgitude</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ form_end(property_form) }}
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#btn-save').click(function(){
//      var property_form = $('form#property_form');
//      console.log(property_form);
//      property_form.submit();
    });
  });
</script>