<div class="row" style="margin-top: 0px;">
  <div class="col m12">

    <div class="card">
      <div class="title">
        <h5> Images </h5>
      </div>
      <div class="content">
        <div class="row">
          <div class="col m12">
            <div class="file-field input-field">
              <div class="btn">
                <span>Upload</span>
                <input multiple name="file" class="cloudinary-fileupload" data-cloudinary-field="image_upload" type="file">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m12">
            <div class="row photoswipe-gallery isotope mt-0 gallery-image-box" data-pswp-uid="1">
                {% if property.getPhotos() %}
                  {% for photo in property.getPhotos() %}
                    <div class="col m3 card-upload">
                      <div class="card small">
                        <div class="card-image" style="height: auto;">
                          <a class="col s12 m12 l12 item"
                             href="{{ photo.photoId | cloudinary_url({'crop':'fill', 'width':2880, 'height':1800}) }}"
                             data-size="2880x1800"
                             data-med="{{ photo.photoId | cloudinary_url({'crop':'fill', 'width':1440, 'height':900}) }}"
                             data-med-size="1440x900" style="padding-right: 0px;padding-bottom: 0px;">
                            <img src="{{ photo.photoId | cloudinary_url({'crop':'fill', 'width':232, 'height':145}) }}" alt="">
                          </a>
                        </div>
                        <div class="content" style="padding: 0px;"></div>
                        <div class="progress hide" style="height: 3px;margin-top: 0px;margin-bottom: 0px;">
                          <div class="indeterminate"></div>
                        </div>
                        <div class="card-action" style="">
                          <a href="#!" class="blue-text delete-property-photo" data-photoid="{{ photo.photoId }}">ELIMINAR</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m12">
    <div class="card">
      <div class="title">
        <h5> Files </h5>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
</div>

{# Hidden Content #}

<div class="col m3 hide card-upload" id="card_upload">
  <div class="card small">
    <div class="card-image" style="height: auto;">
      <a class="col s12 m12 l12 item" href="{{ asset('bundles/dashboard/images/properties/no-image.jpg') }}" data-size="2880x1800"
         data-med="{{ asset('bundles/dashboard/properties/4.jpg') }}"
         data-med-size="1440x900" style="padding-right: 0px;padding-bottom: 0px;">
        <img src="{{ asset('bundles/dashboard/properties/4.jpg') }}" alt="">
      </a>
    </div>
    <div class="content" style="padding: 0px;">
    </div>
    <div class="progress" style="height: 3px;margin-top: 0px;margin-bottom: 0px;">
      <div class="indeterminate"></div>
    </div>
    <div class="card-action hide" style="">
      <a href="#!" class="blue-text delete-property-photo" style="">ELIMINAR</a>
    </div>
  </div>
</div>

{{ form_start(property_photo_form) }}
  <input type="hidden" name="property_id" value="{{ property_id }}">
{{ form_end(property_photo_form) }}

