







{#<style>#}
  {#.tag-key-description {#}
    {#text-align: right;#}
    {#padding-bottom: 10px !important;#}
    {#padding-right: 10px !important;#}
  {#}#}
  {#.tag-value-description {#}
    {#padding-bottom: 10px !important;#}
    {#padding-right: 10px !important;#}
  {#}#}
{#</style>#}

{#<div class="row" id="main-info" style="margin-top: 0px;">#}
  {#<div class="col m12">#}
      {#<div class="card">#}
        {#<div class="title">#}
          {#<h5> Basic Information </h5>#}
        {#</div>#}
        {#<div class="content" style="padding-top: 5px;padding-bottom: 5px;">#}
          {#<div class="row" style="margin-top: 0px">#}
            {#<div class="col m2 tag-key-description"><b>Property Name:</b></div>#}
            {#<div class="col m10 tag-value-description">{{ property.name }}</div>#}
          {#</div>#}
          {#<div class="row" style="margin-top: 0px">#}
            {#<div class="col m2 tag-key-description"><b>Property Description:</b></div>#}
            {#<div class="col m10">{{ property.description }}</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="card">#}
        {#<div class="title">#}
          {#<h5> Attributes </h5>#}
        {#</div>#}
        {#<div class="content" style="padding-top: 5px;padding-bottom: 15px;">#}
          {#<div class="row" style="margin-top: 5px;">#}
            {#<div class="col m6">#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Rooms:</b></div>#}
                {#<div class="col m10 tag-value-description">{{ property.bedrooms }}</div>#}
              {#</div>#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Baths:</b></div>#}
                {#<div class="col m10 tag-value-description">{{ property.bathrooms }}</div>#}
              {#</div>#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Parking:</b></div>#}
                {#<div class="col m10 tag-value-description">{{ property.getParkingSpaces() }}</div>#}
              {#</div>#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Unit Size:</b></div>#}
                {#<div class="col m10 tag-value-description">{{ property.getUnitSize() }}</div>#}
              {#</div>#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Year Built:</b></div>#}
                {#<div class="col m10 tag-value-description">{{ property.getYearBuilt() }}</div>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#<div class="row" style="margin-top: 0px;">#}
                  {#<div class="col m6">#}
                    {#<div class="row" style="margin-top: 0px">#}
                      {#<div class="col m2 tag-key-description"><b>Price:</b></div>#}
                      {#<div class="col m10 tag-value-description">{{ property.getListPrice() }}</div>#}
                    {#</div>#}
                  {#</div>#}
                  {#<div class="col m6">#}
                    {#<p style="margin-top: 5px;">#}
                      {#{{ form_widget(property_form.for_rent, {'attr': {'class':'filled-in'}}) }}#}
                      {#<input type="checkbox" class="filled-in" id="property_for_rent" checked="checked" />#}

                      {#<label for="property_for_rent">Is it for rent?</label>#}
                    {#</p>#}
                  {#</div>#}
                {#</div>#}
              {#</div>#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Lease Term:</b></div>#}
                {#<div class="col m10">{{ property.getLeaseTerm() }}</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="col m6">#}
              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Year Built:</b></div>#}
                {#<div class="col m10 tag-value-description">{{ property.getYearBuilt() }}</div>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.type)}}#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.address, {'attr':{'placeholder':''}}) }}#}
                {#<label for="property_address" class="">Address</label>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.unit) }}#}
                {#<label for="property_unit" class="">Unit</label>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.city) }}#}
                {#<label for="property_city" class="">City</label>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.state) }}#}
                {#<label for="property_state" class="">State</label>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.country) }}#}
                {#<label for="property_country" class="">Country</label>#}
              {#</div>#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.postal_code) }}#}
                {#<label for="property_postal_code" class="">Postal Code</label>#}
              {#</div>#}

              {#<div class="row" style="margin-top: 0px">#}
                {#<div class="col m2 tag-key-description"><b>Postal Code:</b></div>#}
                {#<div class="col m10">{{ property.getPostalCode() }}</div>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}

      {#<div class="card">#}
        {#<div class="title">#}
          {#<h5> Amenities and Features </h5>#}
        {#</div>#}
        {#<div class="content" style="padding-top: 5px;padding-bottom: 5px;">#}
          {#<div class="row" style="margin-top: 0px">#}
            {#<div class="col m6">#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.amenities, {'attr': {'class':'materialize-textarea min-h-80'}}) }}#}
                {#<label for="property_amenities">Amenities</label>#}
              {#</div>#}
            {#</div>#}
            {#<div class="col m6">#}
              {#<div class="input-field">#}
                {#{{ form_widget(property_form.features, {'attr': {'class':'materialize-textarea min-h-80'}}) }}#}
                {#<label for="property_features">Features</label>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}

      {#<div class="card">#}
        {#<div class="title">#}
          {#<h5> Location </h5>#}
        {#</div>#}
        {#<div class="content" style="padding-top: 5px;padding-bottom: 15px;">#}
          {#<div class="row" style="margin-top: 5px">#}
            {#<div class="col m12" style="padding-bottom: 5px;">#}
              {#<div id="map-canvas"></div>#}
            {#</div>#}
          {#</div>#}
          {#<div class="row" style="margin-top: 5px"></div>#}
        {#</div>#}
      {#</div>#}

  </div>
</div>

<script>
  $(document).ready(function(){

    if ($('#map-canvas').length != 0) {

      var mapParams = {
        lat: {{ property.lat }},
        lng: {{ property.lng }},
        center_lat: {{ property.mapCenterLat }},
        center_lng: {{ property.mapCenterLng }},
        zoom: {{ property.mapZoom }},
        map_input_id: 'property_address',
        map_input_lat_id: 'property_lat',
        map_input_lng_id: 'property_lng',
        map_input_zoom_id: 'property_map_zoom',
        map_input_center_lat_id: 'property_map_center_lat',
        map_input_center_lng_id: 'property_map_center_lng',
        show_marker: '{{ property.lat and property.lng ? 'true'}}'
      };
      google.maps.event.addDomListener(window, 'load', initialize(mapParams));
    }

    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'short_name',
      postal_code: 'short_name'
    };

    var componentFormId = {
      street_number: 'property_unit',
      route: 'form_route',
      locality: 'property_city',
      administrative_area_level_1: 'property_state',
      country: 'property_country',
      postal_code: 'property_postal_code'
    };

    google.maps.event.addListener(map_autocomplete, 'place_changed', function () {
      var place = map_autocomplete.getPlace();
      if (!place.geometry) {
        return;
      }

      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (addressType == "sublocality_level_1") {
          addressType = "locality";
        }
        if (componentForm[addressType]) {

          var val = place.address_components[i][componentForm[addressType]];

          if ($('#' + componentFormId[addressType]).length) {
            $('#' + componentFormId[addressType]).val(val).change();
          }
        }
      }
    });
  });
</script>