{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">My Properties</a></li>
{% endblock breadcrumb%}

{% set idFormGrid  = grid.hash %}

{% block content %}
	<div class="card">
		<div class="title">
			<h5> My Properties </h5>
			<ul id='dropdown2' class='dropdown-content'>
				<li><a href="{{ path('properties_design') }}">Empty</a></li>
				<li><a href="{{ path('properties_mls') }}">From MLS</a></li>
			</ul>
			<div class="btn-group right">
				<a href="#!" class="waves-effect waves-dark btn btn-small dropdown-button" data-activates='dropdown2'><i class="mdi mdi-content-add left"></i>Add</a>
				<a id="edit_action" class="btn btn-small waves-dark waves-effect">
					<i class="mdi mdi-content-create left"></i>
					Edit
				</a>
				<a id="delete_action" class="btn btn-small waves-dark waves-effect red">
					<i class="mdi mdi-content-clear left"></i>
					Delete
				</a>
			</div>
		</div>
		<div class="content">
			{{ grid(grid, 'DashboardBundle:Grid:gridTemplateAjax.html.twig') }}
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('#edit_action').click(function(){
				$('#{{idFormGrid}}').attr('action', '{{path("properties_design")}}');
				$('#{{idFormGrid}}').submit();
			});

			$('#delete_action').click(function(){
				$('#{{idFormGrid}}').attr('action', '{{path("properties_remove")}}');
				$('#{{idFormGrid}}').submit();
			});
		});
	</script>

{% endblock content%}


