{% extends 'DashboardBundle:Common:backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Properties</a></li>
{% endblock breadcrumb%}

{% block content %}
	{#<ul>#}
		{#{% for data in properties %}#}
			{#<li>#}
				{#<img height="150" src="{{data.photos.0}}" >#}
				{#<br />#}
				{#<a href="{{path('template_index')}}?id_property={{data.mlsId}}">#}
					{#Property - {{loop.index}}#}
				{#</a>#}
				{#<hr />#}
			{#</li>#}
		{#{% endfor %}#}
	{#</ul>#}

	<div class="row">
		<div class="content col-sm-8 col-md-12">
			<h1 class="page-header">Row Properties</h1>

			<div class="properties-sort">
				<form method="get" action="http://html.realsite.byaviators.com/properties-row.html?">
					<h3 class="page-header">Display Options</h3>

					<div class="row">
						<div class="col-sm-3">
							<select style="display: none;">
								<option>Rating</option>
								<option>Most Viewed</option>
								<option>Best Rated</option>
							</select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle form-control selectpicker btn-default" data-toggle="dropdown" title="Rating" aria-expanded="false"><span class="filter-option pull-left">Rating</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open" style="height: 0px; width: 0px;"><ul class="dropdown-menu inner selectpicker" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Rating</span>" data-tokens="null"><span class="text">Rating</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Most Viewed</span>" data-tokens="null"><span class="text">Most Viewed</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Best Rated</span>" data-tokens="null"><span class="text">Best Rated</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
						</div><!-- /.col-* -->

						<div class="col-sm-3">
							<select style="display: none;">
								<option>Sort by</option>
								<option>Price</option>
								<option>Name</option>
								<option>Date</option>
							</select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle form-control selectpicker btn-default" data-toggle="dropdown" title="Sort by" aria-expanded="false"><span class="filter-option pull-left">Sort by</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open" style="height: 0px; width: 0px;"><ul class="dropdown-menu inner selectpicker" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Sort by</span>" data-tokens="null"><span class="text">Sort by</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Price</span>" data-tokens="null"><span class="text">Price</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Name</span>" data-tokens="null"><span class="text">Name</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Date</span>" data-tokens="null"><span class="text">Date</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
						</div><!-- /.col-* -->

						<div class="col-sm-3">
							<select style="display: none;">
								<option>Order</option>
								<option>ASC</option>
								<option>DESC</option>
							</select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle form-control selectpicker btn-default" data-toggle="dropdown" title="Order"><span class="filter-option pull-left">Order</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Order</span>" data-tokens="null"><span class="text">Order</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>ASC</span>" data-tokens="null"><span class="text">ASC</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>DESC</span>" data-tokens="null"><span class="text">DESC</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
						</div><!-- /.col-* -->

						<div class="col-sm-3">
							<select style="display: none;">
								<option>Display as</option>
								<option>Rows</option>
								<option>Grid</option>
								<option>Table</option>
							</select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle form-control selectpicker btn-default" data-toggle="dropdown" title="Display as"><span class="filter-option pull-left">Display as</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Display as</span>" data-tokens="null"><span class="text">Display as</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Rows</span>" data-tokens="null"><span class="text">Rows</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Grid</span>" data-tokens="null"><span class="text">Grid</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Table</span>" data-tokens="null"><span class="text">Table</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
						</div><!-- /.col-* -->
					</div><!-- /.row -->
				</form>
			</div><!-- /.properties-sort -->

			<div class="property-row">
				<a href="properties-row.html#" class="property-row-image">
					<span class="property-badge">Featured</span>
					<img src="{{ asset('bundles/dashboard/properties/1.jpg') }}" alt="">
				</a><!-- /.property-row-image -->

				<div class="property-row-content">
					<h2 class="property-row-title">
						<a href="properties-row.html#">Orange Fox Gate</a>
					</h2>

					<ul class="property-row-location">
						<li><a href="properties-row.html#">New York</a>,</li>
						<li><a href="properties-row.html#">Brooklyn</a></li>
					</ul>

					<div class="property-row-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur diam dui, vitae tincidunt neque feugiat bibendum.
						</p>
					</div><!-- /.property-row-body -->

					<div class="property-row-meta">
						<div class="property-row-meta-item">
							<span><i class="fa fa-dollar"></i></span>
							<strong>12,500</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-arrows"></i></span>
							<strong>98 sqft</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-car"></i></span>
							<strong>1</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-file"></i></span>
							<strong>Rent</strong>
						</div><!-- /.property-box-meta-item -->
					</div><!-- /.property-row-meta -->

				</div><!-- /.property-row-content -->
			</div><!-- /.property-row -->

			<div class="property-row">
				<a href="properties-row.html#" class="property-row-image">
					<span class="property-badge">Featured</span>
					<img src="{{ asset('bundles/dashboard/properties/2.jpg') }}" alt="">
				</a><!-- /.property-row-image -->

				<div class="property-row-content">
					<h2 class="property-row-title">
						<a href="properties-row.html#">Orange Fox Gate</a>
					</h2>

					<ul class="property-row-location">
						<li><a href="properties-row.html#">New York</a>,</li>
						<li><a href="properties-row.html#">Brooklyn</a></li>
					</ul>

					<div class="property-row-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur diam dui, vitae tincidunt neque feugiat bibendum.
						</p>
					</div><!-- /.property-row-body -->

					<div class="property-row-meta">
						<div class="property-row-meta-item">
							<span><i class="fa fa-dollar"></i></span>
							<strong>12,500</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-arrows"></i></span>
							<strong>98 sqft</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-car"></i></span>
							<strong>1</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-file"></i></span>
							<strong>Rent</strong>
						</div><!-- /.property-box-meta-item -->
					</div><!-- /.property-row-meta -->

				</div><!-- /.property-row-content -->
			</div><!-- /.property-row -->

			<div class="property-row">
				<a href="properties-row.html#" class="property-row-image">
					<span class="property-badge">Featured</span>
					<img src="{{ asset('bundles/dashboard/properties/3.jpg') }}" alt="">
				</a><!-- /.property-row-image -->

				<div class="property-row-content">
					<h2 class="property-row-title">
						<a href="properties-row.html#">Orange Fox Gate</a>
					</h2>

					<ul class="property-row-location">
						<li><a href="properties-row.html#">New York</a>,</li>
						<li><a href="properties-row.html#">Brooklyn</a></li>
					</ul>

					<div class="property-row-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur diam dui, vitae tincidunt neque feugiat bibendum.
						</p>
					</div><!-- /.property-row-body -->

					<div class="property-row-meta">
						<div class="property-row-meta-item">
							<span><i class="fa fa-dollar"></i></span>
							<strong>12,500</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-arrows"></i></span>
							<strong>98 sqft</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-car"></i></span>
							<strong>1</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-file"></i></span>
							<strong>Rent</strong>
						</div><!-- /.property-box-meta-item -->
					</div><!-- /.property-row-meta -->

				</div><!-- /.property-row-content -->
			</div><!-- /.property-row -->

			<div class="property-row">
				<a href="properties-row.html#" class="property-row-image">
					<span class="property-badge">Featured</span>
					<img src="{{ asset('bundles/dashboard/properties/4.jpg') }}" alt="">
				</a><!-- /.property-row-image -->

				<div class="property-row-content">
					<h2 class="property-row-title">
						<a href="properties-row.html#">Orange Fox Gate</a>
					</h2>

					<ul class="property-row-location">
						<li><a href="properties-row.html#">New York</a>,</li>
						<li><a href="properties-row.html#">Brooklyn</a></li>
					</ul>

					<div class="property-row-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur diam dui, vitae tincidunt neque feugiat bibendum.
						</p>
					</div><!-- /.property-row-body -->

					<div class="property-row-meta">
						<div class="property-row-meta-item">
							<span><i class="fa fa-dollar"></i></span>
							<strong>12,500</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-arrows"></i></span>
							<strong>98 sqft</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-car"></i></span>
							<strong>1</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-file"></i></span>
							<strong>Rent</strong>
						</div><!-- /.property-box-meta-item -->
					</div><!-- /.property-row-meta -->

				</div><!-- /.property-row-content -->
			</div><!-- /.property-row -->

			<div class="property-row">
				<a href="properties-row.html#" class="property-row-image">
					<span class="property-badge">Featured</span>
					<img src="{{ asset('bundles/dashboard/properties/5.jpg') }}" alt="">
				</a><!-- /.property-row-image -->

				<div class="property-row-content">
					<h2 class="property-row-title">
						<a href="properties-row.html#">Orange Fox Gate</a>
					</h2>

					<ul class="property-row-location">
						<li><a href="properties-row.html#">New York</a>,</li>
						<li><a href="properties-row.html#">Brooklyn</a></li>
					</ul>

					<div class="property-row-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur diam dui, vitae tincidunt neque feugiat bibendum.
						</p>
					</div><!-- /.property-row-body -->

					<div class="property-row-meta">
						<div class="property-row-meta-item">
							<span><i class="fa fa-dollar"></i></span>
							<strong>12,500</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-arrows"></i></span>
							<strong>98 sqft</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-car"></i></span>
							<strong>1</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-file"></i></span>
							<strong>Rent</strong>
						</div><!-- /.property-box-meta-item -->
					</div><!-- /.property-row-meta -->

				</div><!-- /.property-row-content -->
			</div><!-- /.property-row -->

			<div class="property-row">
				<a href="properties-row.html#" class="property-row-image">
					<span class="property-badge">Featured</span>
					<img src="{{ asset('bundles/dashboard/properties/6.jpg') }}" alt="">
				</a><!-- /.property-row-image -->

				<div class="property-row-content">
					<h2 class="property-row-title">
						<a href="properties-row.html#">Orange Fox Gate</a>
					</h2>

					<ul class="property-row-location">
						<li><a href="properties-row.html#">New York</a>,</li>
						<li><a href="properties-row.html#">Brooklyn</a></li>
					</ul>

					<div class="property-row-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur diam dui, vitae tincidunt neque feugiat bibendum.
						</p>
					</div><!-- /.property-row-body -->

					<div class="property-row-meta">
						<div class="property-row-meta-item">
							<span><i class="fa fa-dollar"></i></span>
							<strong>12,500</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-arrows"></i></span>
							<strong>98 sqft</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-car"></i></span>
							<strong>1</strong>
						</div><!-- /.property-box-meta-item -->

						<div class="property-row-meta-item">
							<span><i class="fa fa-file"></i></span>
							<strong>Rent</strong>
						</div><!-- /.property-box-meta-item -->
					</div><!-- /.property-row-meta -->

				</div><!-- /.property-row-content -->
			</div><!-- /.property-row -->

			<div class="center">
				<ul class="pagination">
					<li><a href="properties-row.html#"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
					<li><a href="properties-row.html#">1</a></li>
					<li><a href="properties-row.html#">2</a></li>
					<li class="active"><a href="properties-row.html#">3</a></li>
					<li><a href="properties-row.html#">4</a></li>
					<li><a href="properties-row.html#">5</a></li>
					<li><a href="properties-row.html#"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
				</ul>
			</div><!-- /.center -->
		</div><!-- /.content -->

	</div>

{% endblock content%}


