{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block stylesheets_priority %}
	{{ parent() }}
	<link href="{{ asset('bundles/dashboard/material/css/select2.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock stylesheets_priority %}

{% block breadcrumb %}
	<li>
		<a href="{{ path('properties_index') }}">My Properties</a>
		<i class="mdi-navigation-chevron-right"></i>
	</li>
	<li><a>{{ property.name }}</a></li>
{% endblock breadcrumb%}

{% block content %}
	<div class="row">
		{#<div class="col s12">#}
			{#{% include 'DashboardBundle:Properties:Partials/_show-tabbar.html.twig' %}#}
		{#</div>#}
		<div id="test1" class="col s12">
			{% include 'DashboardBundle:Properties:Partials/_show-tab-information.html.twig' %}
		</div>
		{#<div id="tab-gallery" class="col s12">#}
			{#{% include 'DashboardBundle:Properties:Partials/_show-tab-gallery.html.twig' %}#}
		{#</div>#}
	</div>
{% endblock content%}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/dashboard/material/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}


