
<style>

  ul.dropdown-content.select-dropdown{
    z-index: 122222222222;
  }
</style>
<div id="modalImportContact" class="modal" style="overflow: hidden;">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <div class="row" style="margin-top: 0px;">
      <div class="col m6">
        <ul class="collection">
          <li class="collection-item avatar" style="max-height: 53px;padding-bottom: 27px;padding-top: 5px;">
            <img src="{{ asset('bundles/dashboard/images/contactcompany/gmail.png') }}" alt="" class="circle" style="border-radius: 1%;">
            <p style="font-size: 16px;padding-top: 13px;">Gmail</p>
            <a href="#!" class="secondary-content"></a>
          </li>
          <li class="collection-item avatar" style="max-height: 53px;padding-bottom: 27px;padding-top: 5px;">
            <img src="{{ asset('bundles/dashboard/images/contactcompany/outlook.png') }}" alt="" class="circle" style="border-radius: 1%;">
            <p style="font-size: 16px;padding-top: 13px;">Outlook</p>
            <a href="#!" class="secondary-content"></a>
          </li>
          <li class="collection-item avatar" style="max-height: 53px;padding-bottom: 27px;padding-top: 5px;">
            <img src="{{ asset('bundles/dashboard/images/contactcompany/contactcontact.png') }}" alt="" class="circle" style="border-radius: 1%;">
            <p style="font-size: 16px;padding-top: 13px;">ContactContact</p>
            <a href="#!" class="secondary-content"></a>
          </li>
          <li class="collection-item avatar" style="max-height: 53px;padding-bottom: 27px;padding-top: 5px;">
            <img src="{{ asset('bundles/dashboard/images/contactcompany/mailchimp.png') }}" alt="" class="circle" style="border-radius: 1%;">
            <p style="font-size: 16px;padding-top: 13px;">MailChimp</p>
            <a href="#!" class="secondary-content"></a>
          </li>
          <li class="collection-item avatar" style="max-height: 53px;padding-bottom: 27px;padding-top: 5px;">
            <img src="{{ asset('bundles/dashboard/images/contactcompany/topproducer.jpg') }}" alt="" class="circle" style="border-radius: 1%;">
            <p style="font-size: 16px;padding-top: 13px;">TopPoducer</p>
            <a href="#!" class="secondary-content"></a>
          </li>
        </ul>

        {#<div class="select-wrapper" style="z-index: 122222222222"><span class="caret"></span>#}
          {#<select class="initialized">#}
            {#<option value="" disabled="disabled" selected="selected">Choose option</option>#}
            {#<option value="2" data-icon="{{ asset('bundles/dashboard/images/contactcompany/gmail.png') }}" class=" left ">Gmail</option>#}
            {#<option value="2" data-icon="{{ asset('bundles/dashboard/images/contactcompany/outlook.png') }}" class=" left ">Outlook</option>#}
            {#<option value="2" data-icon="{{ asset('bundles/dashboard/images/contactcompany/contactcontact.png') }}" class=" left ">ContactContact</option>#}
            {#<option value="2" data-icon="{{ asset('bundles/dashboard/images/contactcompany/mailchimp.png') }}" class=" left ">MailChimp</option>#}
            {#<option value="2" data-icon="{{ asset('bundles/dashboard/images/contactcompany/topproducer.jpg') }}" class=" left ">TopPoducer</option>#}
          {#</select>#}
        {#</div>#}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cerrar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Import</a>
  </div>
</div>